<app-header></app-header>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h2>¡Bienvenido a mi pequeña tienda!</h2>
                <p>Aquí encontrarás joyería artesanal, también encontrarás mis servicios como artista en formación.</p>
            </ion-col>
            <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-card routerLink="products/Earings">
                    <ion-card-header>
                        <ion-card-title>
                            <ion-label>
                                <ion-icon slot="start" name="aperture-outline"></ion-icon>
                                Joyería
                            </ion-label>
                        </ion-card-title>
                        <ion-card-subtitle>¡Mira mi inventario!</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img width="80" height="80" src="/assets/images/joya(1).jpeg"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-lg="3" size-md="6" size-sm="6">
                <ion-card routerLink="products/Paintings">
                    <ion-card-header>
                        <ion-card-title>
                            <ion-label>
                                <ion-icon slot="start" name="brush-outline"></ion-icon>
                                Pinturas
                            </ion-label>
                        </ion-card-title>
                        <ion-card-subtitle>¡Contrata mis servicios!</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img width="80" height="80" src="/assets/images/mini(1).jpg"></ion-img>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>