<ion-card *ngIf="Services != null">
    <ion-card-header color="tertiary">
        <ion-card-title>{{Services.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-card>
            <ion-img [src]="Services.img" alt=""></ion-img>
        </ion-card>
        {{Services.description}}
    </ion-card-content>
    <ion-button (click)="gotoWhatsApp()" color="primary" expand="block">
        <ion-icon name="logo-whatsapp"></ion-icon>
        Solicitar
    </ion-button>
</ion-card>